
<div class="container">
    <% if(flash && flash.err) {%>
    <ul class="alert alert-danger">
        <% Object.keys(flash.err).forEach(function(error){%>
        <li><%- JSON.stringify(flash.err[error]) %></li>
        <% }) %>
    </ul>
    <% } %>
    <form method="post" action="/user/create" accept-charset="utf-8" class="form-singin">
        <label>Name:</label>
        <input name="name" class="form-control" required >
        <label>LastName:</label>
        <input name="lastname" class="form-control" required>
        <label>Username:</label>
        <input name="username" class="form-control" required >
        <label>E-mail:</label>
        <input name="email" class="form-control">
        
        <input type="submit" class="btn btn-success" value="Guardar">
    </form>
</div>
